.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 24rem;
    height: 6rem;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.a {
    padding: 2px 16px;
}

.card_div {
  display: flex;
}

span + span {
  margin-left: 15px;
}
  